/*
 * @copyright Martin Bussières
 */
@charset "UTF-8";
.transition {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
p {
  font-size: 1em;
}
.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  
}
@media only screen and (min-width: 720px) and (max-width: 1023px) {
  
}
@media only screen and (max-width: 719px) {
  
}
@media only screen and (max-width: 320px) {
  
}
