/*
 * @copyright Martin Bussières
 */

@charset "UTF-8";

// ===========================================================================================================================
// Reset
// ===========================================================================================================================
*{margin:0;padding:0;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}html,body,div,span,object,iframe,p,blockquote,pre,a,abbr,address,code,em,img,strong,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;-webkit-font-smoothing:antialiased}h1,h2,h3,h4,h5,h6{border:0;margin:0;outline:0;padding:0;vertical-align:baseline;-webkit-font-smoothing:antialiased}:focus{outline:0}ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{font-weight:normal;text-align:left}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}img,input,select,option{vertical-align:middle}input,textarea{-webkit-appearance:none;border-radius:0;}.clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.clearfix{height:0;clear:both;display:block}strong,.bold{font-weight:bold}.floatright{float:right}.floatleft{float:left}.indent{text-indent:-9999px;line-height:0}article,aside,figure,footer,header,hgroup,nav,section{display:block}

// ===========================================================================================================================
// Responsive Grid Based on Bootstrap
// ===========================================================================================================================
@import url('grid.less');

// ===========================================================================================================================
// Variables
// ===========================================================================================================================
@d-gray: #3B3A39;

.transition{
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

@spriteGrid: 50px;

.sprite(@x, @y) {
	background-image: url(../img/sprite.svg);
	background-repeat: no-repeat;
	background-position: -(@x*@spriteGrid) -(@y*@spriteGrid);
}

.sans{
	font-family: helvetica neue, helvetica, arial, sans-serif;

}
.serif{
	font-family: georgia, sans-serif;
}

// ===========================================================================================================================
// Text
// ===========================================================================================================================

h1,
h2,
h3,
h4,
h5,
h6{
	line-height: 1em;
}
h1{
	font-size: 3em;

}
h2{
	font-size: 2.2em;
}
h3{
	font-size: 2em;
}
h4{
	font-size: 1.6em;
}
h5{
	font-size: 1.2em;
}
h6{
	font-size: 1em;
}
blockquote{

}
p{
	font-size: 1em;
	line-height: 1.4em;
}
a{
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	&:hover{

	}
}
strong{

}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

// ===========================================================================================================================
// Global
// ===========================================================================================================================
body,
html{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	
}
#wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width:100%;
	*width:100%;
	margin: 0 auto -100px; // Based on footer eight
}
footer{
	position: relative;
	margin: 0 auto;
	height: 100px;
	clear:both;
}
.container{
	margin: 0 auto;
	position: relative;
}
img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
ul,
code{
	display: block;
}
code,
.link{
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

// ===========================================================================================================================
// Responsive Nav based on responsive-nav.com
// ===========================================================================================================================
.nav-collapse{
	ul{
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		list-style: none;
	}
}
.js .nav-collapse{
	clip: rect(0 0 0 0);
	max-height: 0;
	position: absolute;
	display: block;
	overflow: hidden;
	zoom: 1;
}
.nav-collapse.opened{
	max-height: 9999px;
}
.nav-collapse.disable-pointer-events{
	pointer-events: none !important;
}
.nav-toggle{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

// ===========================================================================================================================
// Responsive Video iframe
// ===========================================================================================================================
.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    //padding-bottom: 75%; /* 4/3 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// ===========================================================================================================================
// Custom Theme
// ===========================================================================================================================
body{
	.sans;
	color: #444;
}
ul,
code{
	margin-bottom: 1em;
}
code{
	background: #fff;
	padding: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin-bottom: .5em;
}
blockquote,
p{
	margin-bottom: 1em;
}
a{
	color: tomato;
}
.nav{
	background: tomato;
	padding: 20px;
	z-index: 99999;
	overflow: hidden;
	a{
		color: #fff;
		font-weight: 700;
		text-decoration: none;
		margin-right: 20px;
	}
}
blockquote{
	.serif;
	font-style: italic;
	font-size: 1.5em;
}
.nav-spacer{
	height: 55px;
}
header,
section{
	border-bottom: 1px dashed #bbb;
	img{
		margin-bottom: 30px;
	}
}
hr{
	height: 1px;
	border: 0;
	border-bottom: 1px dashed #bbb;
	padding-top: 20px;
	margin-bottom: 20px;
}
section{
	background: #f1f1f1;
}
@media only screen and (min-width : 641px) {
	header,
	section{
		padding: 140px 20px 80px 20px;
	}
}
@media only screen and (max-width : 640px) {
	header,
	section{
		padding: 96px 20px 40px 20px;
	}
}
input[type="text"],
input[type="email"],
textarea{
	margin-bottom: 20px;
	min-height: 40px;
	padding: 10px 20px;
	border: 0;
	display: block;
}
.trigger{
	z-index: 9999;
	height: 200px;
	background: blue;
}
.test-sprite{
	.sprite(0,0);
	width: 100%;
	height: 50px;
	margin: 10px 0;
}
footer{
	padding: 20px;
}
.btn{
	background: tomato;
	background: tomato;
	border-radius: 50px;
	padding: 10px 20px;
}
a.btn,
input[type="submit"]{
	border:none;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	text-align: center;
	&:hover{
		background: #444;
		color: #fff;
	}
}
a.btn{
	font-weight: 700;
}
a.btn,
input,
textarea,
footer,
code,
li{
	font-family: "Courier New", Courier, monospace;
}
// ===========================================================================================================================
// Media Queries
// ===========================================================================================================================

@media only screen and (min-width : 768px) {
	.js .nav-collapse {
		position: relative;
	}
	.js .nav-collapse.closed {
		max-height: none;
	}
	.nav{
		position: fixed;
		margin: 0 auto;
		width: 100%;
	}
	.nav-toggle {
		display: none;
	}
	.nav-collapse{
		ul{
			li{
				display: inline-block;
			}
		}
	}
}
@media only screen and (max-width : 767px) {
	body{
		font-size: .8em;
	}
	.nav{
		position: fixed;
		margin: 0 auto;
		width: 100%;
	}
	.nav-collapse{
		ul{
			li{
				width: 100%;
				display: block;
			}
		}
	}
	div.col {
		float: none;
		width: 100%;
	}
}